# Miscellaneous
*.class
*.log
*.pyc
*.swp
*.tmp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ / Android Studio
*.iml
*.ipr
*.iws
.idea/

# VS Code
.vscode/

# Flutter / Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub/
.pub-cache/
build/
coverage/

# Generated documentation
**/doc/api/

# Flutter build files
**/ios/Flutter/.last_build_id

# Android
/android/app/debug/
/android/app/profile/
/android/app/release/
/android/local.properties

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/App.framework

# Environment files
.env
.env.*

# Symbolication
app.*.symbols
app.*.map.json